<h1>Libraries in Winnipeg</h1>
<ul>
  <% @libraries.each do |library| %>
  <li>
    <strong><%= link_to library.name, library_path(library) %></strong><br>
    <%= library.address %><br>
    <%= library.phone %>
  </li>
  <% end %>
</ul>