<h1>About</h1>
<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum doloribus voluptates incidunt culpa id ipsam quibusdam quaerat amet quae magnam.</p>

<h2>Data Sources</h2>
<ul>
  <li>Books are fetched from the <a href="https://openlibrary.org" target="_blank">Open Library API</a>.</li>
  <li>Reviews are generated using the <a href="https://github.com/faker-ruby/faker" target="_blank">Faker Gem</a>.</li>
</ul>